.home {
    display: flex;
    flex-direction: column;
    margin: 0; /* Remove any default margins */
    padding: 0; /* Remove any default padding */
  }
  
  .home-top {
    display: flex;
    height: 50vh; /* Adjust the height as needed */
  }
  
  .home-left, .home-right {
    flex: 1; /* Each takes up 50% of the width */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .home-left {
    background-color: #f9f9f9; /* Optional: to visualize the area */
  }
  
  .home-left img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensure the image covers the area */
  }
  
  .home-right {
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  .home-right p {
    font-size: 4rem; /* Increase the font size */
    line-height: 3; /* Adjust line height for readability */
    color: #333;
  }
  
  .home-bottom {
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  .home-bottom h2,
  .home-bottom h3,
  .home-bottom h4,
  .home-bottom p {
    margin: 0.5rem 0;
  }
  
  .home-bottom h2 {
    color: #304a78;
    margin-bottom: 1rem; /* Add spacing below */
  }
  
  .home-bottom .section-title {
    color: #304a78;
    font-weight: bold; /* Bold text */
    margin-top: 2rem; /* Add spacing above */
  }
  
  .home-bottom .section-subtitle {
    color: #304a78;
  }
  
  .home-bottom .section-content {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-top: 1rem; /* Add spacing above */
  }
  